@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #030712; /* Fundo escuro baseado no gray-950 do Tailwind */
  color: #f3f4f6; /* Texto claro */
}